body {
    margin: 0;
    font-size: 36px;
    font-size: 22px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: 30px; 
    font-family: bjpg; 
    background-color: rgb(34, 34, 34);
}

container {
    height: 100vh;
    width: 100vw;
}

.flexbox {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .footer{
    height: 65px;
    #background-color: lightgray;
    text-align: center;
    line-height: 65px;
}

a {
    color: white;
    text-decoration: none;
}

.img-container {
    flex-grow: 1;
    width: 100%;
    position: relative;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}

.img-container img{
    max-width:100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}
